@charset "utf-8";
/* CSS Document */

#postview {
	display:inline-flex;
}

#home {
	margin:0 auto;
	max-width:500px;
	text-align:center;
}

.ui-content {
	margin:0 auto;
	text-align:center;
}

.ui-listview {
	text-align:center;
	margin:0 auto;
	
	
}

#products {
	text-align:center;
	margin:0 auto;
	max-width:500px;
}

.ui-bar {
	text-align:center;
}

@media screen only and (-webkit-device-min-pixel-ratio:2){
	#postview {
	display:inline-flex;
}

#home {
	margin:0 auto;
	max-width:500px;
	text-align:center;
}

.ui-content {
	margin:0 auto;
	text-align:center;
}

.ui-listview {
	text-align:center;
	margin:0 auto;
	
	
}

#products {
	text-align:center;
	margin:0 auto;
	max-width:500px;
}





}
